# movies_metadata를 이용하여 pandas 활용 과제

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./movies_metadata.csv")
df

C:\Users\koll2\AppData\Local\Temp\ipykernel_16012\561427424.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./movies_metadata.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

# 1. 가장 런타임 긴 시간 영화 1편을 찾아주세요

In [4]:
df["runtime"].idxmax()

24178

# 2. 2016년 1월부터 3월까지 나왔던 시리즈 영화를 찾아주세요

In [5]:
a = df[df['release_date'].between('2016-01-01', '2016-03-30')]
a['title']

22325                           Punk's Dead: SLC Punk 2
26564                                          Deadpool
27861                                        The Bronze
28811                                  Midnight Special
29474                                          Bad Hurt
                              ...
45201                                             24×36
45268    Good Guys Go to Heaven, Bad Guys Go to Pattaya
45274                        Carole King: Natural Woman
45327        The Jazz Loft According to W. Eugene Smith
45343                        The Visitors: Bastille Day
Name: title, Length: 412, dtype: object

# 3. 영화 제목이 "toy"로 시작하는 영화 개수를 찾아주세요

In [7]:
aaa = df[df['title'].fillna("").str.startswith("Toy")]
len(aaa['title'])

12

# 4. 한국어 영화 중 평점 8.0이상인 영화를 찾아주세요

In [8]:
a = df[df['original_language'] == 'ko']
b = a[a['vote_average'] >= 8]
b

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
9430,False,"{'id': 4563, 'name': 'The Vengeance Collection...",3000000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,670,tt0364569,ko,올드보이,"With no clue how he came to be imprisoned, dru...",...,2003-01-01,14980005.0,120.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,"15 years of imprisonment, five days of vengeance",Oldboy,False,8.0,2000.0
15549,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,86266,tt0156906,ko,강원도의 힘,"Recently separated lovers (Baek Jong-hak, Oh Y...",...,1998-04-04,0.0,110.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,The Power of Kangwon Province,False,8.2,6.0
16632,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,85550,tt0461795,ko,극장전,"In Seoul, the paths of two men and one woman i...",...,2005-05-27,0.0,89.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Tale of Cinema,False,8.4,7.0
16694,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,18438,tt1499666,ko,김씨 표류기,"Mr. Kim is jobless, lost in debt and has been ...",...,2009-05-14,0.0,119.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,"Once in a life time, There comes a moment that...",Castaway on the Moon,False,8.1,130.0
20305,False,NaN,3550000,"[{'id': 18, 'name': 'Drama'}]",http://www.sunny2011.co.kr/,77117,tt1937339,ko,써니,"Na-mi, a transfer student, becomes a laughings...",...,2011-05-04,48000000.0,124.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Sunny,False,8.0,56.0
21739,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,158445,tt2659414,ko,7번방의 선물,A story about a mentally ill man wrongfully ac...,...,2013-01-23,0.0,127.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Miracle in Cell No. 7,False,8.0,94.0
32934,False,NaN,2200000,"[{'id': 18, 'name': 'Drama'}]",NaN,81481,tt2070649,ko,도가니,Based on actual events that took place at Gwan...,...,2011-09-22,31500000.0,125.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,"The hideous truth, concealed far too long.",Silenced,False,8.0,88.0
32946,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 10749, ...",http://beautyinside.co.kr,338729,tt4273886,ko,뷰티 인사이드,Woo-Jin changes into a different person when h...,...,2015-08-20,108083.0,127.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,Love has many faces.,The Beauty Inside,False,8.1,41.0
38249,False,NaN,0,[],NaN,153423,tt0127692,ko,Motel Seoninjang,"Motel Cactus consists of four episodes, all of...",...,1997-10-25,0.0,91.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Motel Cactus,False,8.0,2.0
38420,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,380254,tt4788944,ko,"로봇, 소리",While desperately searching for his missing da...,...,2016-01-27,0.0,117.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,I think this robot will find my daughter...,SORI: Voice from the Heart,False,8.0,3.0
38718,False,NaN,8575000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",NaN,290098,tt4016934,ko,아가씨,"1930s Korea, in the period of Japanese occupat...",...,2016-06-01,1983204.0,145.0,"[{'iso_639_1': 'ja', 'name': '日本語'}, {'iso_639...",Released,Never did they expect to get into a controvers...,The Handmaiden,False,8.1,453.0
40035,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,376847,tt5576174,ko,나를 잊지 말아요,"In the middle of the night, a man reports a mi...",...,2016-01-07,0.0,106.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,Some loves are best forgotten,Remember You,False,8.5,4.0
40062,False,"{'id': 478244, 'name': ""Spirits' Homecoming Co...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",http://joent.net/en/spirits-homecoming/,384641,tt5503266,ko,귀향,"Two Korean girls, Jung-Min (14) and Young-hee ...",...,2016-02-24,0.0,127.0,"[{'iso_639_1': 'ja', 'name': '日本語'}, {'iso_639...",Released,"Trampled souls, seeking their way home, finall...",Spirits' Homecoming,False,8.5,5.0
41113,False,NaN,0,[],NaN,204051,tt0091953,ko,씨받이,"girl to provide them with a ""sibaji,"" a contra...",...,1987-03-21,0.0,95.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,The Surrogate Womb,False,8.3,3.0
41230,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://deckert-distribution.com/film-catalogue...,369769,tt5129818,ko,Under the sun,"Over the course of one year, this film follows...",...,2016-03-10,0.0,106.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Under the Sun,False,8.1,31.0
41907,False,NaN,0,"[{'id': 10769, 'name': 'Foreign'}, {'id': 18, ...",http://www.topstar2013.kr/index.htm,230029,tt3163364,ko,톱스타,Actor Park Joong-hoon makes his directorial de...,...,2013-10-24,0.0,107.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Top Star,False,8.0,2.0
42393,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,255709,tt3153634,ko,소원,Tragedy of a 8 year old girl coping with a gru...,...,2013-10-02,0.0,123.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,We won't let her shed tears again,Hope,False,8.1,36.0
43505,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,426166,tt6388082,ko,형,Doo-Sik (Jo Jung-suk) gets paroled from prison...,...,2016-11-24,0.0,110.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,My Annoying Brother,False,8.4,20.0

# 5. 한국어 영화의 수익 평균을 찾아주세요

In [9]:
a = df[df['original_language'] == 'ko']
a['revenue'].mean().round(2)

2181629.45